################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/SQLiteReader/packages
/SQLiteReader/.vs
/SQLiteReader/SQLiteReader/bin/Debug
/SQLiteReader/SQLiteReader/obj/Debug
/SQLiteReader/SQLiteReader/bin/Release
/SQLiteReader/SQLiteReader/obj/Release